body {
  background-color:  #24032e;
  font-family: 'Open Sans';
}

section {
  -webkit-box-shadow: 5px 5px 25px 6px rgba(0,0,0,0.6); 
  box-shadow: 5px 5px 25px 6px rgba(0,0,0,0.6);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 200px;
  margin-bottom: 150px;
  background-color: white;
  padding: 15px;
  border: 1px  solid black;
  border-radius: 5px;
}

section h1 {
  font-size: 25px;
}

header {
  background-image: url('https://www.itl.cat/pngfile/big/196-1961369_illustration-of-purple-galaxy-hd-wallpaper-pink-space.jpg');
  background-size: cover;
  height: 100px;
  border-radius: 5px
}

ol {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  max-height: 100;
  padding: 20px;
  color: white;
  font-weight: bold;
}

li {
  font-size: 14px;
  list-style-type: none;
  border-left: 4px solid black;
  background:  #ffadb6;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 8px solid white;
}

a {
  color: #24032e;
  text-decoration: none;
}

a:hover {
  background-color: #24032e;
  color: white;
}

.footer-social-media{
  grid-column: 230px 230px;
  grid-row:356px;
  display: flex;
  justify-content: center;
}

.lkdn {
  margin-right:10px;
}

.gh {
  margin-left:10px;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 8px;
  background: #ffadb6;
  border: 2px solid #24032e;
  font-size: 1.2rem;
  color: gray;
  cursor: pointer;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  background: #24032e;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease;
}

.btn:hover::before {
  width:100%;
}